
/* Global style  */
body {
  color: #343434;
  margin: 0;
}

img {
  width: 300px;
}

a {
  color: #ffe66d;
}

a:hover {
  text-decoration: none;
}
/* Profile */
header {
  background: #2f3061;
  color: #f7fff7;
}

/* project */
  .project{
    background: #f7fff7;
  }
  .project a {
    color: #2f3061;
  }
  .project .btn {
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
  }

  .project .btn:hover {
    background: rgba(47,48,97,80%);
  }
/* work-experiance */
.work-experiance{
  background: #A1c6d7;
}  

/* footer */
footer{
  background: #343434;
  color: #f7fff7;
}  

/* contetn section */

.content-wrap {
  width: 900px;
  margin: 0 auto;
}